In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
orders = pd.read_csv('instacart_orders.csv', sep=';')

In [3]:
products = pd.read_csv('products.csv', sep=';')

In [4]:
aisles = pd.read_csv('aisles.csv', sep=';')

In [5]:
departments = pd.read_csv('departments.csv', sep=';')

In [6]:
order_products = pd.read_csv('order_products.csv', sep=';')

Se  comenzará a trabajar con cada archivo, se les realizará diversos analisis para tener una información más
precisa de cada uno

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">ORDERS</span>

In [7]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478967 entries, 0 to 478966
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                478967 non-null  int64
 1   user_id                 478967 non-null  int64
 2   order_number            478967 non-null  int64
 3   order_dow               478967 non-null  int64
 4   order_hour_of_day       478967 non-null  int64
 5   days_since_prior_order  450148 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 21.9 MB

In [8]:
orders.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [9]:
orders.duplicated().sum()

np.int64(15)

In [10]:
orders = orders.drop_duplicates()
print(orders.duplicated().sum())
0

0

0

In [11]:
orders.drop_duplicates(inplace=True)
print(orders.duplicated().sum())

0

Verifica todos los pedidos que se hicieron el miércoles a las 2:00 a.m.

In [12]:
print(orders.query("order_dow == 3 & order_hour_of_day == 2"))

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
4838     2766110   162084            41          3                  2
5156     2190225   138285            18          3                  2
15506     553049    58599            13          3                  2
18420     382357   120200            19          3                  2
24691     690242    77357             2          3                  2
...          ...      ...           ...        ...                ...
457013   3384021    14881             6          3                  2
458816    910166   164782            18          3                  2
459635   1680532   106435             6          3                  2
468324    222962    54979            59          3                  2
477526   2592344    46860            38          3                  2

        days_since_prior_order
4838                      16.0
5156                      11.0
15506                      7.0
18420                     11.0
24691                      9.0
...                        ...
457013                    30.0
458816                     4.0
459635                    21.0
468324                     3.0
477526                     3.0

[106 rows x 6 columns]

In [14]:
print(orders['order_id'].duplicated().sum())
orders.reset_index(drop=True)

0

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1515936,183418,11,6,13,30.0
1,1690866,163593,5,5,12,9.0
2,1454967,39980,4,5,19,2.0
3,1768857,82516,56,0,20,10.0
4,3007858,196724,2,4,12,17.0
...,...,...,...,...,...,...
478947,3210681,5617,5,1,14,7.0
478948,3270802,112087,2,3,13,6.0
478949,885349,82944,16,2,11,6.0
478950,216274,4391,3,3,8,8.0
478951,2071924,1730,18,1,14,15.0

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">PRODUCTS</span>

In [15]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49694 non-null  int64
 1   product_name   48436 non-null  object
 2   aisle_id       49694 non-null  int64
 3   department_id  49694 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [16]:
products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [17]:
print(products.duplicated().sum())

0

In [18]:
print(products['department_id'].duplicated().sum())

49673

In [19]:
print(products['product_name'].str.upper().duplicated().sum())

1361

In [20]:
duplicates = products[products['product_name'].duplicated(keep=False)]
print(duplicates)

       product_id product_name  aisle_id  department_id
37             38          NaN       100             21
71             72          NaN       100             21
109           110          NaN       100             21
296           297          NaN       100             21
416           417          NaN       100             21
...           ...          ...       ...            ...
49552       49553          NaN       100             21
49574       49575          NaN       100             21
49640       49641          NaN       100             21
49663       49664          NaN       100             21
49668       49669          NaN       100             21

[1258 rows x 4 columns]

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">DEPARTMENTS</span>

In [21]:
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes

In [22]:
departments.columns

Index(['department_id', 'department'], dtype='object')

In [23]:
print(departments.duplicated().sum())

0

In [24]:
departments.drop_duplicates(inplace=True)
print(departments.duplicated().sum())

0

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">AISLES</span>

In [25]:
aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [26]:
aisles.columns

Index(['aisle_id', 'aisle'], dtype='object')

In [27]:
print(aisles.duplicated().sum())

0

In [28]:
print(aisles['aisle_id'].duplicated().sum())

0

In [29]:
aisles.drop_duplicates(inplace=True)
print(aisles.duplicated().sum())

0

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">ORDER_PRODUCTS</span>

In [31]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545007 entries, 0 to 4545006
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  float64
 3   reordered          int64
dtypes: float64(1), int64(3)
memory usage: 138.7 MB

In [33]:
order_products.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [34]:
print(order_products.duplicated().sum())

0

In [35]:
order_products = order_products.drop_duplicates()
print(order_products.duplicated().sum())
order_products.reset_index(drop=True)

0

         order_id  product_id  add_to_cart_order  reordered
0         2141543       11440               17.0          0
1          567889        1560                1.0          1
2         2261212       26683                1.0          1
3          491251        8670               35.0          1
4         2571142        1940                5.0          1
...           ...         ...                ...        ...
4545002    577211       15290               12.0          1
4545003   1219554       21914                9.0          0
4545004    692640       47766                4.0          1
4545005    319435         691                8.0          1
4545006   1398151       28733                9.0          0

[4545007 rows x 4 columns]