In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
orders = pd.read_csv('instacart_orders.csv', sep=';')

In [3]:
products = pd.read_csv('products.csv', sep=';')

In [4]:
aisles = pd.read_csv('aisles.csv', sep=';')

In [5]:
departments = pd.read_csv('departments.csv', sep=';')

In [6]:
order_products = pd.read_csv('order_products.csv', sep=';')

Se  comenzará a trabajar con cada archivo, se les realizará diversos analisis para tener una información más
precisa de cada uno

<span style="font-size: 2em; color: #FF69B4; font-weight: bold;">ORDERS</span>

In [7]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478967 entries, 0 to 478966
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                478967 non-null  int64
 1   user_id                 478967 non-null  int64
 2   order_number            478967 non-null  int64
 3   order_dow               478967 non-null  int64
 4   order_hour_of_day       478967 non-null  int64
 5   days_since_prior_order  450148 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 21.9 MB

In [8]:
orders.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [9]:
orders.duplicated().sum()

np.int64(15)

In [10]:
orders = orders.drop_duplicates()
print(orders.duplicated().sum())
0

0

0

In [11]:
orders.drop_duplicates(inplace=True)
print(orders.duplicated().sum())

0

Verifica todos los pedidos que se hicieron el miércoles a las 2:00 a.m.

In [12]:
print(orders.query("order_dow == 3 & order_hour_of_day == 2"))

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
4838     2766110   162084            41          3                  2
5156     2190225   138285            18          3                  2
15506     553049    58599            13          3                  2
18420     382357   120200            19          3                  2
24691     690242    77357             2          3                  2
...          ...      ...           ...        ...                ...
457013   3384021    14881             6          3                  2
458816    910166   164782            18          3                  2
459635   1680532   106435             6          3                  2
468324    222962    54979            59          3                  2
477526   2592344    46860            38          3                  2

        days_since_prior_order
4838                      16.0
5156                      11.0
15506                      7.0
18420                     11.0
24691                      9.0
...                        ...
457013                    30.0
458816                     4.0
459635                    21.0
468324                     3.0
477526                     3.0

[106 rows x 6 columns]

In [13]:
print(orders['order_id'].duplicated().sum())
orders.reset_index(drop=True)

0

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1515936,183418,11,6,13,30.0
1,1690866,163593,5,5,12,9.0
2,1454967,39980,4,5,19,2.0
3,1768857,82516,56,0,20,10.0
4,3007858,196724,2,4,12,17.0
...,...,...,...,...,...,...
478947,3210681,5617,5,1,14,7.0
478948,3270802,112087,2,3,13,6.0
478949,885349,82944,16,2,11,6.0
478950,216274,4391,3,3,8,8.0
478951,2071924,1730,18,1,14,15.0

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">PRODUCTS</span>

In [14]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49694 non-null  int64
 1   product_name   48436 non-null  object
 2   aisle_id       49694 non-null  int64
 3   department_id  49694 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [15]:
products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [16]:
print(products.duplicated().sum())

0

In [17]:
print(products['department_id'].duplicated().sum())

49673

In [18]:
print(products['product_name'].str.upper().duplicated().sum())

1361

In [19]:
duplicates = products[products['product_name'].duplicated(keep=False)]
print(duplicates)

       product_id product_name  aisle_id  department_id
37             38          NaN       100             21
71             72          NaN       100             21
109           110          NaN       100             21
296           297          NaN       100             21
416           417          NaN       100             21
...           ...          ...       ...            ...
49552       49553          NaN       100             21
49574       49575          NaN       100             21
49640       49641          NaN       100             21
49663       49664          NaN       100             21
49668       49669          NaN       100             21

[1258 rows x 4 columns]

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">DEPARTMENTS</span>

In [20]:
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes

In [21]:
departments.columns

Index(['department_id', 'department'], dtype='object')

In [22]:
print(departments.duplicated().sum())

0

In [23]:
departments.drop_duplicates(inplace=True)
print(departments.duplicated().sum())

0

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">AISLES</span>

In [24]:
aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [25]:
aisles.columns

Index(['aisle_id', 'aisle'], dtype='object')

In [26]:
print(aisles.duplicated().sum())

0

In [27]:
print(aisles['aisle_id'].duplicated().sum())

0

In [28]:
aisles.drop_duplicates(inplace=True)
print(aisles.duplicated().sum())

0

<span style="font-size: 2em; color: #FF5733; font-weight: bold;">ORDER_PRODUCTS</span>

In [29]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545007 entries, 0 to 4545006
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  float64
 3   reordered          int64
dtypes: float64(1), int64(3)
memory usage: 138.7 MB

In [30]:
order_products.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [31]:
print(order_products.duplicated().sum())

0

In [32]:
order_products = order_products.drop_duplicates()
print(order_products.duplicated().sum())
order_products.reset_index(drop=True)

0

         order_id  product_id  add_to_cart_order  reordered
0         2141543       11440               17.0          0
1          567889        1560                1.0          1
2         2261212       26683                1.0          1
3          491251        8670               35.0          1
4         2571142        1940                5.0          1
...           ...         ...                ...        ...
4545002    577211       15290               12.0          1
4545003   1219554       21914                9.0          0
4545004    692640       47766                4.0          1
4545005    319435         691                8.0          1
4545006   1398151       28733                9.0          0

[4545007 rows x 4 columns]

Realizaremos Analisis a algunas columnas de unos dataframes

• La columna 'product_name' de la tabla products.
• La columna 'days_since_prior_order' de la tabla orders.
• La columna 'add_to_cart_order' de la tabla order_productos

In [33]:
print(products['product_name'].isna().sum())

1258

Va mos a realizar un analisis para identificar si todos los nombres de productos ausentes están relacionados con el pasillo con ID 100

In [34]:
missing_products = products[products['product_name'].isnull()]
missing = (missing_products['aisle_id'] == 100).all()
print(missing)

True

Esto nos muestra los problemas a los que se entrenta uno si no se tiene cuidado en la captura de los datos limpia y oprtunamente.

Seguimos con el analisis, ahora verificaremos si todos los nombres de productos ausentes están relacionados con el departamento con ID 21

In [35]:
missing_products = products[products['product_name'].isnull()]
missing = (missing_products['department_id'] == 21).all()
print(missing)

True

<p style="color:#FF5733; font-family:'Courier New'; font-size:18px;">Al obtener esta información nos muestra nuevamente la importancia de tener una buena capacitación para un buen control y toma de datos.</p>

<p style="color:#87CEEB; font-family:'Courier New'; font-size:16px;">Utilizaremos los dataframes  "departments"y "aisles" para revisar los datos del pasillo con ID 100 y el departamento con ID 21.</p>.

In [36]:
aisle_filtered = products.query('aisle_id == 100')
department_filtered = products.query('department_id == 21')
print(aisle_filtered)
print(department_filtered)

       product_id product_name  aisle_id  department_id
37             38          NaN       100             21
71             72          NaN       100             21
109           110          NaN       100             21
296           297          NaN       100             21
416           417          NaN       100             21
...           ...          ...       ...            ...
49552       49553          NaN       100             21
49574       49575          NaN       100             21
49640       49641          NaN       100             21
49663       49664          NaN       100             21
49668       49669          NaN       100             21

[1258 rows x 4 columns]
       product_id product_name  aisle_id  department_id
37             38          NaN       100             21
71             72          NaN       100             21
109           110          NaN       100             21
296           297          NaN       100             21
416           417          NaN       100             21
...           ...          ...       ...            ...
49552       49553          NaN       100             21
49574       49575          NaN       100             21
49640       49641          NaN       100             21
49663       49664          NaN       100             21
49668       49669          NaN       100             21

[1258 rows x 4 columns]

Esto nos muestra cuan importante es la capacitación en cada departamento, porque esto puede ser resultado del mal control en recepción, almacenaje, etc.

<p style="color:#87CEEB; font-family:'Courier New'; font-size:16px;">Se realizará la colocación de la palabra 'Unknown' a las filas de productos ausentes.</p>.

In [37]:
products.fillna('unknown', inplace = True)
print(products)

       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49689       49690                      HIGH PERFORMANCE ENERGY DRINK
49690       49691                      ORIGINAL PANCAKE & WAFFLE MIX
49691       49692    ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR
49692       49693                             SPRING WATER BODY WASH
49693       49694                            BURRITO- STEAK & CHEESE

       aisle_id  department_id
0            61             19
1           104             13
2            94              7
3            38              1
4             5             13
...         ...            ...
49689        64              7
49690       130             14
49691       130             14
49692       127             11
49693        38              1

[49694 rows x 4 columns]

Se corrigió la falla en la falta de datos, se realizaron  modificaciones para que se pueda observar donde faltan los datos  y posteriormente agrgarlos.
Tener una buena base de datos ayuda a la realización oportuna y correcta del trabajo.

<p style="color:#87CEEB; font-family:'Courier New'; font-size:17px;">Trabajaremos otra vez con el DataFarame 'orders.</p>.

In [38]:
print(orders.isnull().sum())

order_id                      0
user_id                       0
order_number                  0
order_dow                     0
order_hour_of_day             0
days_since_prior_order    28817
dtype: int64

Hay algún valor ausente que no sea el primer pedido del cliente

In [39]:
value = orders.loc[:, orders.columns != 'order_number'].isnull().sum()
print(value)

order_id                      0
user_id                       0
order_dow                     0
order_hour_of_day             0
days_since_prior_order    28817
dtype: int64

<p style="color:#87CEEB; font-family:'Courier New'; font-size:17px;">Trabajaremos otra vez con el DataFarame 'order_products.</p>.

In [40]:
print(order_products.isnull().sum())

order_id               0
product_id             0
add_to_cart_order    836
reordered              0
dtype: int64

Buscaremos los valores mínimos y máximos en la columna 'add_to_cart_order'

In [41]:
min_max = order_products['add_to_cart_order'].min(), order_products['add_to_cart_order'].max()
print(min_max)

(np.float64(1.0), np.float64(64.0))

Seguimos encontrando falta de datos en los DataFrames, a seguir trabajando.

Se guardaran  todas las IDs de pedidos que tengan un valor ausente en la columna 'add_to_cart_order'

In [42]:
missing_value = order_products[order_products['add_to_cart_order'].isna()]
iDs = missing_value['order_id'].tolist()
print(iDs)

[2449164, 1968313, 2926893, 1717990, 1959075, 844733, 61355, 936852, 264710, 1717990, 1564093, 129627, 264710, 293169, 2849370, 1386261, 3308010, 903110, 2136777, 3347453, 1888628, 165801, 2449164, 2094761, 3347453, 1038146, 2136777, 2997021, 844733, 844733, 2136777, 813364, 165801, 2256933, 171934, 264710, 2449164, 2409109, 3347453, 813364, 2926893, 936852, 1730767, 1169835, 733526, 844733, 293169, 61355, 903110, 1968313, 733526, 2136777, 2926893, 404157, 1386261, 171934, 3125735, 747668, 3308010, 1169835, 1800005, 1961723, 936852, 2849370, 3308010, 61355, 871281, 1717990, 813364, 388234, 61355, 3125735, 1959075, 61355, 3125735, 1648217, 171934, 3125735, 61355, 1477139, 1959075, 1717990, 1717990, 61355, 1717990, 171934, 1038146, 3308010, 3347453, 102236, 936852, 171934, 1730767, 2926893, 1021563, 1832957, 1959075, 2256933, 1968313, 2721963, 293169, 102236, 3125735, 1959075, 264710, 678116, 1220886, 1386261, 171934, 1959075, 61355, 3308010, 61355, 102236, 388234, 171934, 3308010, 1961723, 2721963, 3308010, 1564093, 264710, 404157, 1673227, 813364, 2094761, 844733, 1386261, 1959075, 3125735, 61355, 102236, 3308010, 1386261, 936852, 2999801, 1038146, 1888628, 813364, 1800005, 1968313, 3308010, 2449164, 388234, 3125735, 102236, 903110, 1832957, 102236, 3308010, 2926893, 388234, 1800005, 2094761, 2721963, 844733, 2136777, 2926893, 813364, 2136777, 1673227, 1633337, 1021563, 102236, 1800005, 1477139, 2470674, 1220886, 2470674, 1648217, 264710, 1832957, 2721963, 2849370, 2625444, 871281, 1717990, 1220886, 1677118, 1730767, 1730767, 678116, 102236, 2136777, 61355, 2136777, 903110, 844733, 2849370, 1832957, 1730767, 2479011, 3383594, 61355, 1832957, 1021563, 1021563, 1959075, 1832957, 813364, 61355, 61355, 2926893, 1959075, 1648217, 2136777, 264710, 1800005, 2094761, 2926893, 1959075, 264710, 61355, 3308010, 2256933, 936852, 3308010, 1038146, 1183255, 2256933, 1832957, 1386261, 1713430, 1730767, 2136777, 3308010, 1717990, 171934, 1968313, 1717990, 2136777, 1648217, 1968313, 2652650, 733526, 1673227, 2849370, 61355, 3308010, 1169835, 3308010, 171934, 2999801, 1717990, 1386261, 936852, 1968313, 1713430, 1800005, 2136777, 264710, 264710, 2926893, 165801, 1598369, 2997021, 1730767, 61355, 1916118, 1730767, 3308010, 2479011, 2449164, 61355, 3125735, 2094761, 1888628, 3125735, 264710, 171934, 1800005, 1038146, 1959075, 102236, 3308010, 1386261, 1800005, 2470674, 2926893, 2470674, 102236, 3308010, 1717990, 903110, 2997021, 129627, 3383594, 3308010, 1386261, 854647, 102236, 1038146, 3308010, 936852, 264710, 264710, 1800005, 61355, 1220886, 2136777, 293169, 1800005, 1888628, 813364, 2136777, 61355, 1730767, 1021563, 2721963, 1730767, 1564093, 3308010, 2849370, 3308010, 1302315, 1888628, 61355, 1959075, 61355, 2136777, 733526, 3308010, 1730767, 1183255, 264710, 1730767, 678116, 2721963, 2136777, 3308010, 2721963, 2409109, 871281, 171934, 678116, 2849370, 813364, 3125735, 1730767, 61355, 2999801, 1648217, 936852, 3125735, 61355, 2849370, 1220886, 1959075, 2256933, 171934, 2926893, 2926893, 404157, 2136777, 3308010, 1021563, 404157, 171934, 61355, 2094761, 1832957, 293169, 813364, 293169, 3125735, 1021563, 1800005, 3308010, 936852, 264710, 171934, 888470, 1673227, 871281, 1800005, 3308010, 1730767, 180546, 2621907, 1730767, 936852, 1959075, 1169835, 1730767, 2926893, 854647, 2449164, 3308010, 2470674, 1183255, 61355, 1386261, 903110, 2094761, 903110, 264710, 1648217, 293169, 2479011, 1730767, 1730767, 2926893, 61355, 3125735, 1959075, 2409109, 2926893, 1021563, 1386261, 3308010, 2926893, 1800005, 61355, 2449164, 102236, 3308010, 1308785, 1800005, 2926893, 61355, 2136777, 1717990, 3308010, 1730767, 871281, 1673227, 102236, 2136777, 1717990, 813364, 1800005, 1959075, 813364, 165801, 2136777, 2729254, 1673227, 1961723, 61355, 1183255, 2136777, 1302315, 1386261, 2849370, 171934, 2136777, 3308010, 733526, 1959075, 9310, 813364, 2170451, 1800005, 404157, 871281, 3125735, 2721963, 404157, 129627, 678116, 2926893, 264710, 2256933, 102236, 102236, 1021563, 264710, 2926893, 936852, 102236, 1968313, 936852, 293169, 2136777, 2136777, 61355, 1183255, 1730767, 1800005, 2479011, 1386261, 1800005, 1673227, 3308010, 2926893, 2926893, 61355, 1832957, 1717990, 813364, 2999801, 264710, 3308010, 3347453, 3308010, 936852, 813364, 404157, 171934, 903110, 871281, 102236, 61355, 813364, 102236, 3308010, 1800005, 1832957, 2479011, 171934, 171934, 844733, 3308010, 171934, 1800005, 404157, 1673227, 3383594, 3308010, 2136777, 102236, 1717990, 2094761, 102236, 1959075, 171934, 2136777, 1386261, 2136777, 2449164, 171934, 3308010, 1220886, 2136777, 1959075, 2136777, 171934, 936852, 3308010, 2470674, 871281, 2721963, 102236, 61355, 3125735, 3308010, 1386261, 1717990, 293169, 61355, 1386261, 2721963, 2136777, 1888628, 264710, 1564093, 2136777, 1730767, 2849370, 2721963, 293169, 264710, 2721963, 3125735, 1959075, 404157, 171934, 61355, 1959075, 871281, 61355, 1183255, 1673227, 2849370, 1477139, 1730767, 903110, 844733, 3308010, 1673227, 61355, 171934, 2926893, 2926893, 1959075, 2479011, 3347453, 2721963, 2625444, 171934, 813364, 102236, 61355, 844733, 2721963, 1302315, 813364, 61355, 2926893, 1968313, 1968313, 264710, 1717990, 1730767, 2136777, 2721963, 2136777, 2721963, 171934, 171934, 2979697, 1730767, 1888628, 1625713, 2136777, 1800005, 2094761, 1961723, 1564093, 1959075, 1916118, 61355, 2997021, 293169, 3308010, 1529171, 61355, 2256933, 1959075, 2449164, 1673227, 2479011, 1888628, 1800005, 2470674, 1386261, 3125735, 2721963, 2926893, 1800005, 1386261, 2136777, 61355, 171934, 3308010, 61355, 936852, 61355, 936852, 293169, 1386261, 171934, 1800005, 871281, 3125735, 61355, 1959075, 1968313, 1717990, 3308010, 844733, 129627, 844733, 264710, 165801, 1386261, 2136777, 2721963, 1730767, 3125735, 2136777, 1183255, 171934, 936852, 854647, 1386261, 2926893, 1961723, 61355, 1730767, 1633337, 61355, 1959075, 102236, 404157, 1968313, 1386261, 2136777, 2999801, 1529171, 2721963, 61355, 3383594, 1730767, 936852, 2926893, 102236, 1959075, 102236, 1713430, 3383594, 102236, 1959075, 678116, 2449164, 844733, 61355, 3308010, 61355, 2136777, 264710, 171934, 813364, 3308010, 1730767, 61355, 102236, 61355, 1717990, 3308010, 1968313, 129627, 936852, 61355, 61355, 165801, 2409109, 2926893, 61355, 1961723, 1832957, 1961723, 1183255, 61355, 2999801, 1220886, 3125735, 171934, 388234, 102236, 102236, 61355, 2721963, 1800005, 1968313, 2136777, 61355, 1220886, 61355, 936852, 1673227, 936852, 1673227, 1625713, 171934, 2136777, 1800005, 1730767, 264710, 102236, 61355, 903110, 2136777, 1959075, 3125735, 171934, 1169835, 3308010, 61355, 1959075, 2721963, 813364, 1477139, 1888628, 1730767, 1959075, 2479011, 3308010, 2721963, 1717990, 2409109, 171934, 171934, 1183255, 1800005, 171934, 2136777, 388234, 264710, 61355, 1730767, 1717990, 1916118, 264710, 3125735, 1959075, 813364, 3347453, 293169, 171934, 1386261, 1183255, 1717990, 1308785, 2625444, 171934, 102236, 1386261, 1968313, 1386261, 404157, 1959075, 1832957, 1961723, 936852, 1386261, 2449164, 171934, 1959075, 2449164, 180546, 1183255, 1386261, 1968313, 2136777, 3308010, 2479011, 2979697, 1888628, 1832957, 1961723, 1800005, 1633337, 404157, 1673227, 1832957]

¿Todos los pedidos con valores ausentes tienen más de 64 productos?

In [43]:
order_value = order_products[order_products.isnull().any(axis=1)]
products_2 = order_value.groupby('order_id')['product_id'].count()
all_64 = (products_2 > 64).all()
print(all_64)

False

Agrupa todos los pedidos con datos ausentes por su ID de pedido.

In [44]:
id_missing = order_products[order_products.isnull().any(axis=1)]
order_1 = id_missing['order_id'].unique()
print(order_1)

[2449164 1968313 2926893 1717990 1959075  844733   61355  936852  264710
 1564093  129627  293169 2849370 1386261 3308010  903110 2136777 3347453
 1888628  165801 2094761 1038146 2997021  813364 2256933  171934 2409109
 1730767 1169835  733526  404157 3125735  747668 1800005 1961723  871281
  388234 1648217 1477139  102236 1021563 1832957 2721963  678116 1220886
 1673227 2999801 1633337 2470674 2625444 1677118 2479011 3383594 1183255
 1713430 2652650 1598369 1916118  854647 1302315  888470  180546 2621907
 1308785 2729254    9310 2170451 2979697 1625713 1529171]

 Se realizará el conteo del número de 'product_id' en cada pedido y  se revisa el valor mínimo del conteo.

In [45]:
product_3= order_products.groupby('order_id')['product_id'].count()
min = product_3.min()
print(min)

1

Se realizará el reemplazo a los valores ausentes en la columna 'add_to_cart? con 999 y  se convierte la columna al tipo entero.

In [48]:
order_products['add_to_cart_order'] = order_products['add_to_cart_order'].fillna('999')
print(order_products['add_to_cart_order'].unique())

[ 17   1  35   5   4  10  14   2  28   3  16   8   7   6   9  15  22  49
  19  13  11  12  18  24  23  45  30  31  29  21  38  20  57  58  26  25
  39  34  40  27 999  43  33  42  50  32  36  37  61  46  56  41  44  55
  54  47  63  48  60  62  53  59  52  51  64]

Se observaron bastantes valores ausentes en la base de datos, esto puede ser por diversas causas, pero se realizo un analisis y limpieza para obtener los mejores resultados de los mismos

Vamos a verificar que los valores en las columnas 'order_hour_of_day' y 'order_dow' en el DataFrame
'orders' sean correctos, es decir, 'order_hour_of_day' oscile entre 0 y 23 y 'order_dow'
oscile entre 0 y 6.

In [49]:
orders.order_hour_of_day.unique()
print(np.sort(orders.order_hour_of_day))

[ 0  0  0 ... 23 23 23]

In [50]:
orders.order_dow.unique()
print(np.sort(orders.order_dow))

[0 0 0 ... 6 6 6]

Los datos son los necesarios y correctos para seguir trabajando con ellos

Para cada hora del día, ¿cuántas personas hacen órdenes?